<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Training</h1>

		<f:flashMessages />
		<f:widget.paginate objects="{trainings}" as="trainingList" configuration="{itemsPerPage:3, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 10}">
				<f:for each="{trainingList}" as="training">
					<div class="container">
						<p>
							<f:translate key="tx_portfoliotlafagnd_domain_model_training.title" /> : 
							<f:link.action action="show" arguments="{training : training}"> {training.title}</f:link.action>
						</p>
						<p>
							<f:translate key="tx_portfoliotlafagnd_domain_model_training.domain" /> : 
							<f:link.action action="show" arguments="{training : training}"> {training.domain}</f:link.action>
						</p>
						<p>
							<f:translate key="tx_portfoliotlafagnd_domain_model_training.date_debut" /> : 
							<f:link.action action="show" arguments="{training : training}"> {training.dateDebut -> f:format.date()}</f:link.action>
						</p>
						<p>
							<f:translate key="tx_portfoliotlafagnd_domain_model_training.date_fin" /> : 
							<f:link.action action="show" arguments="{training : training}"> {training.dateFin -> f:format.date()}</f:link.action>
						</p>

					</div>
					<hr>
				</f:for>
		</f:widget.paginate>

		<f:link.action action="new">New Training</f:link.action>
	</f:section>
</html>