<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Single View for Training</h1>

		<f:flashMessages />
		<p>
				<f:translate key="tx_portfoliotlafagnd_domain_model_training.title" /> : 
				<f:link.action action="show" arguments="{training : training}"> {training.title}</f:link.action>
			</p>
			<p>
				<f:translate key="tx_portfoliotlafagnd_domain_model_training.domain" /> : 
				<f:link.action action="show" arguments="{training : training}"> {training.domain}</f:link.action>
			</p>
			<p>
				<f:translate key="tx_portfoliotlafagnd_domain_model_training.description" /> : <br>
				<f:link.action action="show" arguments="{training : training}"> {training.description}</f:link.action>
			</p>
			<p>
				<f:translate key="tx_portfoliotlafagnd_domain_model_training.date_debut" /> : 
				<f:link.action action="show" arguments="{training : training}"> {training.dateDebut -> f:format.date()}</f:link.action>
			</p>
			<p>
				<f:translate key="tx_portfoliotlafagnd_domain_model_training.date_fin" /> : 
				<f:link.action action="show" arguments="{training : training}"> {training.dateFin -> f:format.date()}</f:link.action>
			</p>
			<p>
					<f:translate key="tx_portfoliotlafagnd_domain_model_training.degree" /> : 
					<f:link.action action="show" arguments="{training : training}"> {training.degree}</f:link.action>
			</p>
			<p>
					<f:translate key="tx_portfoliotlafagnd_domain_model_training.location" /> : 
					<f:link.action action="show" arguments="{training : training}"> {training.location}</f:link.action>
			</p>
			<ul>
				<f:for each="{training.skills}" as="skill">
					<li>{skill.title}</li>
				</f:for>
			</ul>
		<f:link.action action="list">Back to list</f:link.action><br />
		<f:link.action action="new">New Training</f:link.action>
	</f:section>
</html>