<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Projets</h1>

		<f:flashMessages />

		<div style="margin-left: 40px">
			<f:for each="{projects}" as="project">
				<f:link.action action="show" arguments="{project : project}"> {project.title}</f:link.action>
				<f:format.html><p>{project.description}</p></f:format.html>
				<f:for each="{project.photo}" as="photo">
					<f:image image="{photo}" style="margin: 20px 0;"/>
				</f:for>
				<p>Débuté le : {project.dateDebut -> f:format.date()}</p>
				<p>Fini le : {project.dateFin -> f:format.date()}</p>
				<hr style="margin: 20px 0;">
			</f:for>
		</div>

		<f:link.action action="new">Nouveau Projet</f:link.action>
	</f:section>
</html>