<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>{profile.firstName} {profile.name}</h1>
		<h5>{profile.birthDate}</h5>

		<f:flashMessages />
		<div style="margin-left: 40px; margin-bottom: 20px;">
			<f:image image="{profile.photo}" style="margin: 20px 0; max-width: 200px; height: auto;"/>
			<p>Permis : {profile.drivingLicence}</p>
			<p>Téléphone : {profile.phone}</p>
			<p>Mail : {profile.mail}</p>
			<p>Adresse : {profile.address}</p>
		</div>
		<f:link.action action="list">Retour à la liste</f:link.action><br />
	</f:section>
</html>